
*.dll
*.dll
*.enc
*.enc
*.msg
*.pyc
/output
/Config/nickname.txt
/Config/ip_list.txt
/Save
settings.json
Config/ip_history.txt
connections.db

Radmin Chat.spec

main.spec

ffmpeg.exe

ffplay.exe

__pycache__/
